body{
    background-color: aqua;
}
h1{
    text-align: center;
    border: 2px solid white;
    color: white;
    margin-left:500px ;
    margin-right: 500px;
    border-radius:70px ;
}
img{
    height: 300px;
    width: 700px;
    display: inline-block;
    margin-right:25% ;
}
h2{
    color: black;
}
p{
    font-size: 20px;
    color: white;
}
.a1{
    color: white;
    font-size: 20px;
}
  .a1:hover{
      font-size: 23px;
  }
  .a2{
    color:black;
    background-color:white;
    text-decoration: none;
    margin-right: 50%;
    margin-left: 38%;
    font-size: 22px;
    display: block;
    padding-right: 20px;
}